<div data-role="view" id="single-activity" data-layout="default" class="activities-view" data-show="app.viewModels.event.show">
    <script>
    </script>
    <header data-role="header">
        <div data-role="navbar">
            Event
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" class="user-status-wrp" data-role="listview" data-style="inset">
        <img data-bind="attr:{src: CoverImageURL()}" style="width: 292px; height: 140px;" />
        <div class="event-white-box">
            <span data-bind="text: Title" class="event-title"></span>
        </div>
        <div class="event-white-box" style="padding: 0;">
            <span data-bind="text: LocationDescription" class="event-title-desc"></span>
            <br />
            <span data-bind="text: StartTimeFormatted()" class="event-title-desc"></span>
        </div>
        <div class="event-white-box">
            <button id="joinBtn" class="event-join-btn">Join!</button>
        </div>
        <div class="event-white-box part">
            <span class="part-count" data-bind="text: ParticipantsCount()"></span>
            <span class="max-part-count">/</span>
            <span class="max-part-count" data-bind="text: MaxParticipants"></span>
        </div>
        
        <!--
        <div class="user-info">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
            <h2 id="personName" data-bind='text: User().DisplayName'></h2>
            <time id="activityDate" data-bind="text: CreatedAtFormatted"></time>
        </div>
        <img id="picture" data-bind="attr:{src: PictureUrl()}" width="100%"/>
        <div class="user-share">
            <span id="activityText" data-bind="text: Text" class="user-share-txt"></span>
        </div>
        -->
    </div>
</div>