<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.viewModels.feed">
    <header data-role="header">
        <div data-role="navbar" style="top: 10px;">
            <div class="nav-button"  data-align="left" data-role="button" id="swipe-menu-btn"></div>
            Event Feed
            <a class="nav-button" data-align="right" data-role="button" id="add-new-btn" href="views/addEventView.html"></a>
        </div>
    </header>

    <ul id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate"
        data-bind="source: feed">
    </ul>
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no posts yet.</b><br /><br />Tap on the plus sign and share what's on your mind.
    </p>
</div>

<!-- Events ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">
    <div data-role="touch" data-bind="events: { tap: eventSelected }">
        <div class="user-info" style="height: 35px;">
            <h2>${Title}</h2>
            <div style="float: left; line-height: 30px; height: 50px;">
                <span class="part-count" data-bind="text: ParticipantsCount()"></span>
                <span class="max-part-count">/</span>
                <span class="max-part-count" data-bind="text: MaxParticipants"></span>
            </div>
            <time class="timeSpan time-icon" style="float: right;">${StartTimeFormatted()}</time>
        </div>
        <div>
			<img src="${CoverImageURL()}" style="width: 292px; height: 140px; display:${CoverImageDisplay()}}" />
		</div>
        <div class="user-share">
            <a class="user-share-txt">${Description}</a>
        </div>
    </div>
</script>
